<div class="wrapper">
    <img src="../../../../../assets/images/wave.png" alt="">
    <h2>Be a part of us!</h2>
    <app-modal></app-modal>
    <div class="content_wrapper">
        <app-register (regiterEmitter)="register($event)"></app-register>
        <div class="other_option">
            <h6><span>or</span></h6>
        </div>
        <button class="social_login">Register with Google</button>
        <div class="login">
            Already have an acoount?<a href="#">Login</a>
        </div>
    </div>
</div>