<div class="wrapper">
    <div class="content_wrapper">
        <div class="login_left">
            <h2>Logo</h2>
            <div class="login_left_inner">
                 <app-login (loginEmitter)="login($event)"></app-login>
                <div class="other_option">
                    <h6><span>or</span></h6>
                </div>
                <app-social-login></app-social-login>
                <div class="register">
                    <h5>Have not met us before?</h5>
                    <a [routerLink]="['/auth/signup']" routerLinkActive="router-link-active">Register</a>
                </div>
            </div>
        </div>
        <div class="login_right">
            <img src="../../../../../assets/images/login.png.png" width="720" height="1024" alt="login image">
        </div>
    </div>
</div>