<div class="edit-wrapper">
    <form [formGroup]="profileForm"  novalidate>
        <div class="profile-img d-flex justify-content-center">
            <!-- <img src="../../../../../assets/images/other-product.jpg"/> -->
            <label class="hoverable" for="fileInput">
                <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"> 
                <div class="hover-text">Choose file</div>
                <div class="background"></div>
              </label>
              <br/>
              <input id="fileInput" type='file' (change)="onSelectFile($event)">
              <!-- <button *ngIf="url" (click)="delete()" >delete</button> -->
        </div>
        <div class="row">
            <div class="col-md-6 com-sm-12 my-4">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Name</label>
                    <input type="text" class="form-control" formControlName="name"  placeholder="John Doe">
                </div>
                <div *ngIf="getControl.name.touched && getControl.name?.invalid" class="text-danger">
                    <div *ngIf="getControl.name.errors?.required">Name is required.</div>
                </div>
            </div>
            <div class="col-md-6 com-sm-12 my-4">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Phone</label>
                    <input type="text" class="form-control" formControlName="phone"  placeholder="">
                </div>
                <div *ngIf="getControl.phone.touched && getControl.phone?.invalid" class="text-danger">
                    <div *ngIf="getControl.phone.errors?.required">Phone Number is required.</div>
                    <div *ngIf="getControl.phone.errors?.minlength">Phone Number must be of 10 digits</div>
                </div>
            </div>
            <div class="col-md-6 com-sm-12 my-4">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Pin code</label>
                    <input type="text" class="form-control" formControlName="pincode"  placeholder="">
                </div>
            </div>
            <div class="col-md-6 com-sm-12 my-4">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" formControlName="email" placeholder="name@example.com">
                </div>
                <div *ngIf="getControl.email.touched && getControl.email?.invalid" class="text-danger">
                    <div *ngIf="getControl.email.errors?.required">Email is required.</div>
                    <div *ngIf="getControl.email.errors?.email">Email seems invalid.</div>
                </div>
            </div>
           
        </div>
        <div class="button-utility d-flex justify-content-around">
            <div>
                <button class="btn btn-danger" >Discard</button>
            </div>
            <div>
                <button class="btn btn-success" (click)="onProfileSubmit()">Save</button>
            </div>
        </div>
    </form>
</div>