<div class="card card-box">
    <img class="card-img-top" src="../../../assets/images/camera.png" alt="Card image cap">
    <div class="card-body">
      <div class="card-title">Price: {{productDetail?.price}}</div>
      <div class="card-product-desc">
        <div class="desc card-txt">
            <span class="product-name">{{productDetail?.name}}</span>
        </div>
        <div class="owner card-txt">
            From: <span> {{productDetail?.seller_details?.name}}</span>
        </div>
        <div class="location card-txt">
            <span> {{productDetail?.seller_details?.state}} </span> | <span> {{productDetail?.seller_details?.pincode}}</span>
        </div>
      </div>
    </div>
  </div>