<div class="card card-box">
    <img class="card-img-top" src="../../../assets/images/camera.png" alt="Card image cap">
    <div class="card-body">
      <div class="card-title">Price: INR 1300</div>
      <div class="card-product-desc">
        <div class="desc card-txt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
        <div class="owner card-txt">
            Amit Shah
        </div>
        <div class="location card-txt">
            <span>Kolkata </span> | <span>27th July, 2021</span>
        </div>
      </div>
    </div>
  </div>