.form_inner {
    display: flex;
    align-items: center;
    width: 545px;
    justify-content: space-between;
  }
  .login_form input {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #969090;
    border: none;
    border-bottom: 1px solid#969090;
    // width: 100%;
    padding-bottom: 10px;
    margin-bottom: 45px;
    width: 545px;
  }
  .login_form select {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #969090;
    border: none;
    border-bottom: 1px solid#969090;
    // width: 100%;
    padding-bottom: 10px;
    margin-bottom: 45px;
    width: 545px;
  }
  .login_form input:focus-visible {
    outline: none;
  }
  .login_form select:focus-visible {
    outline: none;
  }
  .text-danger{
    position: absolute;
    right: 0px;
    bottom: 20px;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  .custom_btn {
    background: #ff6b34;
    border-radius: 39px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    border: none;
    padding: 14px;
  }
  .terms_cond {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #ff6b34;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ff6b34;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }