<div class="product-details-wrapper">

    <section class="mx-3">
        <h3>{{productDetails?.name}}</h3>
        <div>{{productDetails?.price}}</div>
    </section>

    <section class="row mx-3 mb-5 my-5">
            <div class="col-md-6 col-sm-12">
                <app-product-image-gallery></app-product-image-gallery>
            </div>
            <div  class="col-md-6 col-sm-12">
                <div class="mb-4">
                    <app-seller-card [productName]="productDetails?.name" [userDetails]="productDetails?.seller_details"></app-seller-card>
                </div>
                <div>
                    <app-seller-location></app-seller-location>
                </div>
            </div>
        
    </section>

    <section class="row mx-4">
        <div class="col-md-6 col-sm-12">
            <div class="card pb-3">
                <div class="card-body mb-3 prod-details">
                    Product Details
                </div>
                <app-product-features [features]="productDetails?.specifications"></app-product-features>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 my-md-0 my-sm-2 ">
            <div class="card pb-3">
                <div class="card-body mb-3 prod-details ">
                    Product Specification
                </div>
                <div>
                   <div class="specs">
                       <div>Brand:</div>
                       <div>{{productDetails?.brand}} </div>
                   </div>
                   <div class="specs">
                        <div>Category:</div>
                        <div>{{productDetails?.category}} </div>
                    </div>
                   <div class="specs">
                        <div>Origin:</div>
                        <div>{{productDetails?.origin}} </div>
                    </div>
                   <div class="specs">
                        <div>Status:</div>
                        <div>{{productDetails?.product_status}} </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

</div>