<div class="product-details-wrapper">
    <section class="row mx-3 mb-5">
            <div class="col-md-6 col-sm-12">
                <app-product-image-gallery></app-product-image-gallery>
            </div>
            <div  class="col-md-6 col-sm-12">
                <div class="mb-4">
                    <app-seller-card></app-seller-card>
                </div>
                <div>
                    <app-seller-location></app-seller-location>
                </div>
            </div>
        
    </section>

    <section class="mx-4">
        <div>
            <div class="mb-5 prod-details">
                Product Details/Specification
            </div>
            <app-product-features></app-product-features>
        </div>
    </section>

</div>