.profile-wrapper{
    .profile-img{
     
    }

    .name{
        font-family: "Raleway";
        font-style: normal;
    }

    .primary-btn{
        width: 130px;
    }

    .profile-details{
        .info{
            display: flex;
            justify-content: space-evenly;
        }
    }
}