<div class="profile-wrapper my-5 p-5">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="profile-img">
                <img src="../../../../../assets/images/other-product.jpg"/>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="profile-details">
                <div class="info">
                    <div class="name">
                        Jessy
                    </div>
                    <div class="name">
                        <button class="primary-btn" (click)="goToEditProfile()">Edit Profile</button>
                    </div>
                </div>

                <div class="info my-3">
                    <div class="name">
                        100 Followers
                    </div>
                    <div class="name">
                        50 Following
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>